  <form action="<%= goal_url(@goal) %>" method="post">
    <input type="hidden"
           name="_method"
           value="PATCH">
    <%= auth_token %>

    <strong>Edit Goal</strong>
    <br>
    <label for="goal_title">Title</label>
    <input type="text"
           id="goal_title"
           name="goal[title]"
           value="<%= @goal.title %>">
    <br><br>
    <label for="goal_description">Description</label>
    <textarea id="goal_description"
              name="goal[description]"
              value="<%= @goal.description %>"></textarea>
    <br><br>
    <label for="goal_public">Public</label>
    <input type="radio"
           id="goal_public"
           name="goal[public]"
           value="true"
           <%= "selected" if @goal.public %>>
    <label for="goal_private">Private</label>
    <input type="radio"
           id="goal_private"
           name="goal[public]"
           value="false"
           <%= "selected" unless @goal.public %>>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <br><br>